<html>
    <head>
        <% include ../partials/head %>
        <link href="/css/lips.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="loader" id="loader">
        </div>
        <div class="text">
            <h1>O projekcie</h1>
            <p>Miejski zakład komunikacji w Bielsku-Białej ma już swoje lata. Niestety przez dłuższy czas nikt nie poświęcił mu wystarczająco uwagi. Konsekwencje są łatwo zauważalne. Przykładowo linie, które kiedyś były bardzo popularne dzisiaj już nie są, a autobusy jeżdżą puste. Na innych liniach za to jest aż za dużo ludzi, którzy są w autobusach upakowani jak sardynki. Przed kolejną sesją Młodzieżowej Rady Miasta, chcemy poznać jak najwięcej opinii i uwag na temat MZK, dzięki czemu będziemy mogli wyjść z jak najlepszym projektem zmian.</p>
            <p style="float:right;">Delegat MRM Jakub Binięda</p>
        </div>
        
        <div style="width:60%; margin-left:auto; margin-right:auto;">
            <a href="/"><button class="back">Wróć</button></a>
        </div>
        <% include ../partials/back %>
    </body>
</html>
<script>
    $(document).ready(function () {
        setTimeout(function(){
            const loader =  document.querySelector('.loader');
            loader.classList.add('animated', 'fadeOut');
            document.getElementById("loader").style.zIndex = "-1";
            $('html').css({overflow: 'scroll'});
        }, 1000);
    });    
        
</script>