<html>
    <head>
        <% include ../partials/head %>
        <link href="/css/lips.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="loader" id="loader">
        </div>
        <div class="text">
            <h1>O projekcie</h1>
            <p>Miejski Zakład Komunikacji w Bielsku-Białej służy nam nie od dziś - dla wielu jest on codziennym dojazdem do szkoły, pracy lub na rozmaite zajęcia. Niestety, w ostatnich latach nikt nie poświęcił mu wystarczającej uwagi, czego konsekwencje utrudniają nam życie każdego dnia. Zapomniane przez większość linie świecą pustkami, w tych bardziej popularnych zaś w godzinach szczytu ciężko złapać oddech. Przed kolejną sesja Młodzieżowej Rady Miasta pragniemy poznać jak najwięcej Waszych uwag dotyczących MZK, dzięki którym będziemy mogli wyjść z jak najlepszym projektem zmian.</p>
            <p style="float:right;">Delegat MRM Jakub Binięda</p>
        </div>
        
        <div style="width:60%; margin-left:auto; margin-right:auto;">
            <a href="/"><button class="back">Wróć</button></a>
        </div>
        <% include ../partials/back %>
    </body>
</html>
<script>
    $(document).ready(function () {
        setTimeout(function(){
            const loader =  document.querySelector('.loader');
            loader.classList.add('animated', 'fadeOut');
            document.getElementById("loader").style.zIndex = "-1";
            $('html').css({overflow: 'scroll'});
        }, 1000);
    });    
        
</script>